*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
    
}
/* nav part start */
#navbar{
    background-color: #1C1E53;
    
}
.menu_bg ul li{
    padding: 0 10px;
}
.menu_bg ul li a{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #BBBBCB !important;
    font-style: normal;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.menu_bg ul li a:hover{
    color: #FCD980 !important;
}
.menu_bg ul li:first-child a{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #fff !important;
    font-style: normal;
}
.menu_bg .one{

    height: 60px;
    width: 185px;
    border: 2px solid #BBBBCB;
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.menu_bg .one:hover{
    background-color: #FCD980;
}
.menu_bg .one a{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #BBBBCB;
    font-style: normal;
    line-height: 60px;
    margin-left: 45px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.menu_bg .one a:hover{
    color: #1B1C2B;
}
/* nav part end */

/* from part start */
#from{
    padding-top: 128px;
    padding-bottom: 128px;
    background-color: #fff;
}
.from_part .from_us{
    height: 136px;
    width: 562px;
}
.from_part .from_us h2{
    font-size: 48px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    font-style: normal;
    line-height: 64px;
    text-align: center;
}
.from_part .from_us p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    font-style: normal;
    line-height: 28px;
    text-align: center;
}
.from_main{
    padding: 55px 70px 77px 77px;
    background-color: #F4F6FC;
    
}
.form_label08{
    margin-left: 10px;
}
.form_input{
    height: 50px;
    width: 300px;
    background-color: #F4F6FC;
}
.form_label{
    margin-left: 55px;
}
.form_input01{
    height: 50px;
    width: 300px;
    background-color: #F4F6FC;
    resize: none;
}
.form_input02{
    height: 50px;
    width: 300px;
    background-color: #F4F6FC;
}
.form_input03{
    height: 50px;
    width: 300px;
    background-color: #F4F6FC;
}
.form_label01{
    margin-left: 40px;
}
.form_input03{
    height: 50px;
    width: 300px;
    background-color: #F4F6FC;
   
}
.form_one{
    margin-top: 30px;
}
.form_label04{
    margin-top: 30px;
    height: 138px;
    width: 700px;
    background-color: #F4F6FC;
    resize: none;
}
.form_bu{
    height: 64px;
    width: 254px;
    background-color: #282938;
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 32px;
    color: #fff;
}
/* from part end */
/* Lets part start */
#lets{
    padding-top: 100px;
    background-color: #1C1E53;
}
.lets_logo p{
    height: 56px;
    width: 399px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 28px;
    margin-top: 50px;
}
.lets_logo h2{
    height: 64px;
    width: 333px;
    color: #fff;
    font-size: 48px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 64px;
    
}
.lets_logo span{
    height: 84px;
    width: 333px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 28px;
    margin-top: 40px;
}
.lets_logo a{
    padding: 0 20px;
    margin-top: 50px;
    margin-left: -10px;
    color: #fff;
    font-size: 16px;
}
.lets_main{
    height: 95px;
    width: 517px;
    background-color: #FCD980;
}
.lets_main .lets_one{
   margin-top: 20px;
   margin-left: 20px;
}
.lets_main .lets_one h4{
    height: 32px;
    width: 108px;
    color: #282938;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 32px;
}
.lets_main .lets_one h5{
    height: 28px;
    width: 181px;
    color: #282938;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 28px;
}
.lets_main .lets_two{
    margin-top: 20px;
    margin-left: 20px;
 }
 .lets_main .lets_two h4{
    height: 32px;
    width: 108px;
    color: #282938;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 32px;
}
.lets_main .lets_two h5{
    height: 28px;
    width: 181px;
    color: #282938;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 28px;
}
/* Lets part end */
/* last manu part start  */
#manu{
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #fff;
}
.manu_text h3{
    height: 28px;
    width: 241px;
    color: #282938;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 28px;
}
.manu_item ul li{
    display: inline-block;
}
.manu_item ul li a{
    padding: 0 10px;
    color: #282938;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 28px;
   
}
.manu_item ul li a:hover{
    color: #FCD980;
}
/* last manu part   */
@media(max-width:575px){
    .menu_bg ul{
        text-align: center;
        background-color:#1C1E53;
        padding: 0 20px;
    }
    .menu_bg .one{
        background-color: #1C1E53;
        margin-left: 164px;
        
    }
}

@media(min-width:576px) and (max-width:767px){
    .menu_bg ul{
        text-align: center;
        background-color:#1C1E53;
        padding: 0 20px;
    }
    .menu_bg .one{
        background-color: #1C1E53;
        margin-left: 164px;
        
    }
}

@media(min-width:768px) and (max-width:991px){
    .menu_bg ul{
        text-align: center;
        background-color:#1C1E53;
        padding: 0 20px;
    }
    .menu_bg .one{
        background-color: #1C1E53;
        margin-left: 258px;
        
    }
    .benefits_logo img {
        width: 100%;
        margin-top: 30px;
    }
}